.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.headerContainer {
    text-align: center;
    padding: 0px 10px;
}

.home .headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
}

.home .headerContainer p {
    margin-top: 10px;
    padding: 0;
    color: white;
}

.home .headerContainer button {
    background-color: #DB8C3F;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 50px;
    width: 150px;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

